$table: 'power-table' !default;
$bgColor: rgba(238, 245, 255, 1) !default;
$secondaryColor: rgba(251, 251, 251, 1) !default;
$activeColor: #4284f5 !default;
$miniHeight: 32px !default;
$miniFontSize: 14px !default;

$smallHeight: 44px !default;
$smallFontSize: 14px !default;

$normalHeight: 52px !default;
$nornamFontSize: 14px !default;

$largeHeight: 64px !default;
$largeFontSize: 14px !default;
$borderColor: rgba(231, 231, 231, 1) !default;
